.openclaw/Stock-n8n.json
{
  "name": "Stock-n8n",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -11440,
        -2784
      ],
      "id": "d7d789c2-0e15-4fab-bb8f-6fc8c8a87032",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "## 데이터 수집\n- 공포탐욕지수\n- VIX && S&P 500\n- 환율\n- 코스피지수",
        "height": 1056,
        "width": 624,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -11200,
        -3264
      ],
      "typeVersion": 1,
      "id": "90bee66d-6513-4cfc-a3f7-0f6d63c6f0c6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "https://production.dataviz.cnn.io/index/fearandgreed/graphdata",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"User-Agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -11056,
        -3088
      ],
      "id": "1c26b35f-bf85-4458-9aad-6a43626c3608",
      "name": "Fetch Fear & Greed"
    },
    {
      "parameters": {
        "operation": "google_finance",
        "q": "KOSPI:KRX",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApi",
      "typeVersion": 1,
      "position": [
        -11056,
        -2416
      ],
      "id": "aba5bc08-4444-4f66-80c8-0f5b8e968144",
      "name": "Fetch KOSPI Index",
      "credentials": {
        "serpApi": {
          "id": "BCFwB5CpIYJRTOGZ",
          "name": "SerpApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "google_finance",
        "q": "VIX:INDEXCBOE",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApi",
      "typeVersion": 1,
      "position": [
        -11056,
        -2880
      ],
      "id": "d3f01cd7-aaa4-4c1a-8d3f-992dd700924d",
      "name": "Fetch VIX & SP",
      "credentials": {
        "serpApi": {
          "id": "BCFwB5CpIYJRTOGZ",
          "name": "SerpApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "google_finance",
        "q": "USD-KRW",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApi",
      "typeVersion": 1,
      "position": [
        -11056,
        -2656
      ],
      "id": "551af713-1ba9-41a1-b1b6-1bd0d156e5b4",
      "name": "Fetch USD/KRW Rate",
      "credentials": {
        "serpApi": {
          "id": "BCFwB5CpIYJRTOGZ",
          "name": "SerpApi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const markets = $input.first().json.markets;\n\nconst vix   = markets.us.find(item => item.stock === \"VIX:INDEXCBOE\");\nconst sp500 = markets.futures.find(item => item.name === \"S&P Futures\");\n\nif (!vix || !sp500) {\n  throw new Error(`데이터 누락 - vix: ${!!vix}, sp500: ${!!sp500}`);\n}\n\nreturn [{\n  json: {\n    vix: vix.price,                                          // 예: 23.1\n    vix_movement: vix.price_movement.movement,               // \"Up\" | \"Down\"\n    sp500_futures: sp500.price,                              // 예: 6834.5\n    sp500_futures_movement: sp500.price_movement.movement    // \"Up\" | \"Down\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10816,
        -2880
      ],
      "id": "8d8249e9-2a11-45aa-9b91-e54909b79b38",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"fear_greed_score\": {{ Math.round($json.fear_and_greed.score) }},\n  \"fear_greed_rating\": \"{{ $json.fear_and_greed.rating }}\",\n  \"fear_greed_timestamp\": \"{{ $json.fear_and_greed.timestamp }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -10816,
        -3088
      ],
      "id": "60af52e8-ec23-468f-a43f-9f63693746fb",
      "name": "Parsing"
    },
    {
      "parameters": {
        "jsCode": "const summary = $input.first().json.summary;\n\nif (!summary) throw new Error('데이터 누락 - summary 필드 없음');\n\nreturn [{\n  json: {\n    usd_krw: summary.extracted_price,                  // 예: 1480.3\n    usd_krw_movement: summary.price_movement.movement  // \"Up\" (원화 약세)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10816,
        -2656
      ],
      "id": "e91f6c93-b24d-4c08-829d-7ca5264b3cab",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "const summary = $input.first().json.summary;\n\nif (!summary) throw new Error('데이터 누락 - summary 필드 없음');\n\nreturn [{\n  json: {\n    kospi: summary.extracted_price,                  // 예: 5093.54\n    kospi_movement: summary.price_movement.movement  // \"Down\" (하락)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10816,
        -2416
      ],
      "id": "2795bf9c-cb1b-4b75-962e-911d4a49e471",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {
          "includeUnpaired": false
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -10464,
        -2832
      ],
      "id": "421c6fae-e5d7-42e6-b4a4-89b0cc5db118",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ipvxkuazjfrkoafowxfy.supabase.co/rest/v1/market_daily?on_conflict=date",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Prefer\": \"resolution=merge-duplicates\",\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"date\": \"{{ $now.toFormat('yyyy-MM-dd') }}\",\n  \"fear_greed_score\": {{ Math.round($json.fear_greed_score) }},\n  \"fear_greed_rating\": \"{{ $json.fear_greed_rating }}\",\n  \"vix\": {{ $json.vix }},\n  \"vix_movement\": \"{{ $json.vix_movement }}\",\n  \"sp500_futures\": {{ $json.sp500_futures }},\n  \"sp500_futures_movement\": \"{{ $json.sp500_futures_movement }}\",\n  \"usd_krw\": {{ $json.usd_krw }},\n  \"usd_krw_movement\": \"{{ $json.usd_krw_movement }}\",\n  \"kospi\": {{ $json.kospi }},\n  \"kospi_movement\": \"{{ $json.kospi_movement }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -10256,
        -2800
      ],
      "id": "95727895-f367-4a78-859f-c919ff54313e",
      "name": "Save Market Data",
      "credentials": {
        "supabaseApi": {
          "id": "VTeY54PaKTCbxC5G",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const market_data = $input.first().json;\nconst { fear_greed_score, vix } = market_data;\n\nlet condition;\nlet trade_allowed;\nlet sentiment_label;\n\nif (fear_greed_score < 25 || fear_greed_score > 74 || vix >= 30) {\n  // Extreme Fear / Extreme Greed / VIX 급등 → 역발상 기회 구간\n  condition       = \"DANGER\";\n  trade_allowed   = true;\n  sentiment_label = fear_greed_score < 25 ? \"EXTREME_FEAR\"\n                  : fear_greed_score > 74 ? \"EXTREME_GREED\"\n                  : \"VIX_VOLATILITY_SPIKE\";\n\n} else if (fear_greed_score < 50 || vix >= 20) {\n  // 불안 심리 / 변동성 경계 구간 → 관망\n  condition       = \"CAUTION\";\n  trade_allowed   = false;\n  sentiment_label = \"MARKET_CAUTION\";\n\n} else {\n  // 안정적 상승 구간\n  condition       = \"NORMAL\";\n  trade_allowed   = false;\n  sentiment_label = \"MARKET_NORMAL\";\n}\n\nreturn { ...market_data, condition, trade_allowed, sentiment_label };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9936,
        -2800
      ],
      "id": "f40a24c9-818b-4e2e-b44b-937c72f74489",
      "name": "Set Market Condition"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:18789/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 51c1b91a4225895f962644bf524072ef64e91b068cf2b2c7"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"provider\": \"fireworks\",\n  \"model\": \"fireworks/accounts/fireworks/models/glm-5\",\n  \"max_tokens\": 500,\n  \"temperature\": 0.3,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a quantitative market analyst. Analyze the provided market data and write a concise Korean morning briefing for a Discord alert.\\n\\n## Output Format (strictly follow this structure)\\n\\n📊 **오늘의 시황 브리핑** · {date}\\n\\n**📈 시장 지표**\\n• 공탐지수: {fear_greed_score} ({fear_greed_rating})\\n• VIX: {vix} ({vix_movement})\\n• S&P500 선물: {sp500_futures} ({sp500_futures_movement})\\n• 원/달러: {usd_krw} ({usd_krw_movement})\\n• 코스피: {kospi} ({kospi_movement})\\n\\n**🧠 시황 해석**\\n(2~3줄. 지표 간 상관관계 기반 핵심만. 수치 반복 금지.)\\n\\n**⚡ 매매 판단**\\n{condition} — (판단 근거 1줄)\\n\\n**✅ 오늘 매매:** 진행 or ❌ 오늘 매매: 보류\\n\\n## Rules\\n- 총 응답은 15줄 이내\\n- 시황 해석은 데이터를 단순 나열하지 말고 지표 간 관계를 해석할 것\\n- condition이 DANGER일 때는 위험/기회 양면을 모두 언급할 것\\n- 숫자 포맷: 소수점 2자리, 환율은 정수\\n- Discord 렌더링 기준으로 bold/bullet 사용, 코드블록 사용 금지\\n- 한국어로 작성\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"아래 시장 데이터를 분석해서 오늘의 시황 브리핑을 작성해줘.\\n\\ndate: {{ $now.toFormat('yyyy-MM-dd') }}\\nfear_greed_score: {{ $json.fear_greed_score }}\\nfear_greed_rating: {{ $json.fear_greed_rating }}\\nvix: {{ $json.vix }}\\nvix_movement: {{ $json.vix_movement }}\\nsp500_futures: {{ $json.sp500_futures }}\\nsp500_futures_movement: {{ $json.sp500_futures_movement }}\\nusd_krw: {{ $json.usd_krw }}\\nusd_krw_movement: {{ $json.usd_krw_movement }}\\nkospi: {{ $json.kospi }}\\nkospi_movement: {{ $json.kospi_movement }}\\ncondition: {{ $json.condition }}\\ntrade_allowed: {{ $json.trade_allowed }}\\nsentiment_label: {{ $json.sentiment_label }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "14e211f4-49b7-41ec-9e6f-778ff1fdf6bd",
      "name": "Call OpenClaw Gateway",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -9600,
        -2800
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// 가재(Gajae)가 생성한 브리핑을 텔레그램으로 전송합니다.\nvar briefing = \"\";\n\n// n8n Code 노드에서 $json 변수를 안전하게 확인합니다.\nif (typeof $json !== \"undefined\" && $json.choices && $json.choices.length > 0 && $json.choices[0].message && $json.choices[0].message.content) {\n    briefing = $json.choices[0].message.content;\n} else if (typeof $json !== \"undefined\") {\n    briefing = $json.aiContent || $json.content || \"\";\n}\n\nvar result_final = { success: false, error: \"Initialization failed\" };\n\nif (!briefing) {\n    result_final = {\n        success: false,\n        error: \"가재가 브리핑 내용을 생성하지 않았습니다.\",\n        input_data: (typeof $json !== \"undefined\" ? $json : \"No $json found\")\n    };\n    return result_final;\n}\n\nconst token = \"7970537683:AAH0QmWImg0LKzEjHY7fn5kWwcpgIzVmoWY\";\nconst chatId = \"1290448372\";\n\n// 텔레그램 메시지 전송 함수\nasync function sendToTelegram(text, parseMode) {\n    var body = {\n        chat_id: chatId,\n        text: text\n    };\n    if (parseMode) {\n        body.parse_mode = parseMode;\n    }\n    \n    const response = await fetch(\"https://api.telegram.org/bot\" + token + \"/sendMessage\", {\n        method: \"POST\",\n        headers: { \"Content-Type\": \"application/json\" },\n        body: JSON.stringify(body)\n    });\n    return response;\n}\n\nasync function run() {\n    try {\n        // 1차 시도: Markdown\n        let response = await sendToTelegram(briefing, \"Markdown\");\n        let result = await response.json();\n\n        // Markdown 오류 시 일반 텍스트로 전환하여 재시도\n        if (!response.ok && result.description && result.description.indexOf(\"can't parse entities\") !== -1) {\n            response = await sendToTelegram(briefing, null);\n            result = await response.json();\n        }\n\n        var msgId = (result.result && result.result.message_id) ? result.result.message_id : null;\n\n        return {\n            success: response.ok,\n            message_id: msgId,\n            status_code: response.status,\n            response_body: result,\n            briefing_preview: briefing.substring(0, 100) + \"...\"\n        };\n    } catch (error) {\n        return {\n            success: false,\n            error: error.message\n        };\n    }\n}\n\nreturn run();\n"
      },
      "id": "gajae-telegram-send-v2",
      "name": "가재 → Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9296,
        -2800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "run-trade-condition",
              "leftValue": "={{ $node[\"Set Market Condition\"].json[\"trade_allowed\"] }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2d672f28-070c-480a-8c4c-617acba60a19",
      "name": "If Trade Allowed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -9008,
        -2800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/run-chapter7",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "trigger",
              "value": "n8n_daily_analysis"
            },
            {
              "name": "stk_cd",
              "value": "005930"
            }
          ]
        },
        "options": {}
      },
      "id": "d7d7af8f-ffc5-4d15-8479-d1dd6cd8bb68",
      "name": "Run Chapter 7 (Auto Trading)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -8704,
        -2848
      ]
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Fetch Fear & Greed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch VIX & SP",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch USD/KRW Rate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch KOSPI Index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Fear & Greed": {
      "main": [
        [
          {
            "node": "Parsing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch KOSPI Index": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch VIX & SP": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch USD/KRW Rate": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Parsing": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Save Market Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Market Data": {
      "main": [
        [
          {
            "node": "Set Market Condition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Market Condition": {
      "main": [
        [
          {
            "node": "Call OpenClaw Gateway",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenClaw Gateway": {
      "main": [
        [
          {
            "node": "가재 → Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram": {
      "main": [
        [
          {
            "node": "If Trade Allowed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Trade Allowed": {
      "main": [
        [
          {
            "node": "Run Chapter 7 (Auto Trading)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "가재 → Telegram": {
      "main": [
        [
          {
            "node": "If Trade Allowed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}